In [1]:
import datetime

In [6]:
(17,datetime.date.today())

(17, datetime.date(2018, 11, 7))

In [16]:
startdate = '16Sep2012'
stopdate = '16Sep2013'


currentDate = datetime.datetime.strptime(startdate, '%d%b%Y')
stopdate = datetime.datetime.strptime(stopdate, '%d%b%Y')
days = 0

while currentDate != stopdate:
    
    
    
    
    currentDate = currentDate+datetime.timedelta(days=1)
    days += 1
    
print(currentDate)
print(days)

2013-09-16 00:00:00
365

In [12]:
datetime.timedelta(days=1)

datetime.timedelta(1)

In [13]:
currentDate+datetime.timedelta(days=1)

datetime.datetime(2012, 9, 17, 0, 0)

In [26]:
import pandas as pd
df = pd.DataFrame(columns=['Month','Consumption','Harvest'])
df = df.set_index('Month')

In [41]:
df.index.tolist()

['Sep']

In [42]:
currentDate.strftime("%b%y")

'Sep13'

In [39]:
if currentDate.strftime("%b%y") not in df.index.tolist():
    df.loc[currentDate.strftime("%b%y")] = [0,0]

In [40]:
df

      Consumption Harvest
Month
Sep             0       0